.input {
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  font: inherit;
  appearance: none;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: none;
}

.error {
  padding: 5px;
  color: salmon;
}
